@import "../base";


.wrapper {
}
.main {
   margin: 213px 0px 0px 0px;
		&__title {
			width: 753px;

			@include style(3.375rem, 90%, $font_color_dark_second);
			font-family: 'Nekst-Black';
			font-style: normal;
		}
}
.inputs {
	margin-top: 32px;
		&__items {
			width: 100%;
			display: flex;
			column-gap: 32px;
		}

		&__item {
			position: relative;
		}

		&__label {
			margin-bottom: 24px;
			display: block;
			@include style(1rem, 1.25rem, $font_color_light)
		}

		&__input {
			display: block;

			height: 68px;
			// width: 427px;

			background-color: $input_bg_color;
			border-radius: 16px;
			padding: 16px 24px;

			font-family: 'Nekst-Black';
			@include style(1.875rem, 2.25rem, $font_color_light);
			font-weight: 900;
		}

		&__ruble {
			position: relative;
			&::after {
				content: "₽";
				@include style(1.875rem, 2.25rem, $font_color_light);
            position: absolute;
				font-family: 'Nekst-Black';
				font-style: normal;
				font-weight: 900;
				top: -55px;
				left: 380px;
         }
		}
		&__first-payment {
			position: relative;
			padding: 15px 17px;
			@include style(1.25rem, 120%, $font_color_light);
			height: 54px;
			width: 69px;
			background: #EBEBEC;
			border-radius: 16px;
			position: absolute;
			font-family: 'Nekst-Black';
			font-style: normal;
			font-weight: 900;
			top: 50px;
			left: 342px;
		}
		&__term {
			position: relative;
			&::after {
				content: "мес.";
				@include style(1.875rem, 2.25rem, $font_color_light);
            position: absolute;
				font-family: 'Nekst-Black';
				font-style: normal;
				font-weight: 900;
				top: -55px;
				left: 340px;
         }
		}

		&__range-wrapper{
			width: 100%;
			padding: 0px 20px;
			overflow: hidden;
		}

		&__slider {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0%);
			-webkit-appearance: none;
			width: 85%;
			height: 2px;
			border-radius: 5px;  
			background-color: #E1E1E1;
			outline: none;
		}

		&__slider::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 20px;
			height: 20px;
			border-radius: 50%; 
			background: $main_color;
			cursor: pointer;
			-webkit-transition: .2s;
			transform: scale(1);
	  }

		&__slider::-webkit-slider-thumb:hover {
			transform: scale(1.2);
	  }


}

.results {
	margin-top: 44px;
		&__items {
			display: flex;
			// justify-content: space-between;
		}
		&__item {
			margin-right: 32px;
		}

		&__label {
			margin-bottom: 8px;
			display: block;
			@include style(1rem, 150%, $font_color_light);			
			position: relative;
		}

		&__input {
			width: 427px;
			@include style(3.375rem, 90%, $font_color_dark);
			font-weight: 900;

		}

		&__submit {
			margin-top: 24px;
		}
}







