@import "../base";


.wrapper {
}
.main {
   margin: 213px 0px 213px 0px;

	@media (max-width: 1024px) {
		margin: 64px 0px 156px 0px;
	}

	@media (max-width: 700px) {
		margin: 44px 0px 64px 0px;
	}
		&__title {
			max-width: 753px;

			@include style(3.375rem, 90%, $font_color_dark_second);
			font-family: 'Nekst-Black';
			font-style: normal;

			@media (max-width: 700px) {
				@include style(2.125rem, 90%, $font_color_dark_second);
			}
		}
}
.inputs {
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(3, minmax(320px, 1fr));
	grid-template-rows: repeat(2, auto);
	column-gap: 32px;
	row-gap: 50px;

	@media (max-width: 1024px) {
		grid-template-columns: repeat(2, minmax(280px, 1fr));
		grid-template-rows: repeat(6, auto);

		:nth-child(1) {
			grid-column: span 2;
		}
		:nth-child(2) {
			grid-column: span 2;
		}
		:nth-child(3) {
			grid-column: span 2;
		}
	}
	@media (max-width: 700px) {
		grid-template-columns: repeat(1, minmax(280px, 1fr));
		grid-template-rows: repeat(6, auto);
		row-gap: 20px;
		
		:nth-child(1) {
			grid-column: span 1;
		}
		:nth-child(2) {
			grid-column: span 1;
		}
		:nth-child(3) {
			grid-column: span 1;
		}
	}

		&__item {
			position: relative;
			width: 100%;
		}

		&__label {
			margin-bottom: 24px;
			display: block;
			@include style(1rem, 1.25rem, $font_color_light);

			@media (max-width: 700px) {
				margin-bottom: 8px;
			}
		}

		&__input {
			font-family: 'Nekst-Black';
			width: 100%;
			display: block;
			height: 68px;

			background-color: $input_bg_color;
			border-radius: 16px;
			padding: 16px 24px;

			&:focus {
				border: 2px solid #F3F3F4;
				background-color: white;
			}
			&:active {
				border: 2px solid #F3F3F4;
				background-color: white;
			}

			@include style(1.875rem, 2.25rem, $font_color_light);
			font-weight: 900;

			@media (max-width: 700px) {
				@include style(1.375rem, 2.25rem, $font_color_light);
				height: 60px;
			}

		}

		&__ruble {
			position: relative;
			&::after {
				content: "₽";
				@include style(1.875rem, 2.25rem, $font_color_light);
            position: absolute;
				font-family: 'Nekst-Black';
				font-style: normal;
				font-weight: 900;
				top: 58px;
				right: 22px;

				@media (max-width: 700px) {
					@include style(1.375rem, 1.25rem, #333E48);
					top: 46px;
				}
         }
		}
		&__first-payment {
			position: relative;
			padding: 15px 17px;
			@include style(1.25rem, 120%, $font_color_light);
			height: 54px;
			width: 69px;
			background: #EBEBEC;
			border-radius: 16px;
			position: absolute;
			font-family: 'Nekst-Black';
			font-style: normal;
			font-weight: 900;
			top: 50px;
			right: 8px;

			@media (max-width: 700px) {
				@include style(1.375rem, 1.25rem, #333E48);
				height: 48px;
				width: 67px;
				top: 35px;
			}
		}
		&__term {
			position: relative;
			&::after {
				content: "мес.";
				@include style(1.875rem, 2.25rem, $font_color_light);
            position: absolute;
				font-family: 'Nekst-Black';
				font-style: normal;
				font-weight: 900;
				top: 60px;
				right: 24px;

				@media (max-width: 700px) {
					@include style(1.375rem, 1.25rem, #333E48);
					top: 46px;
				}
         }
		}

		&__range-wrapper{
			padding: 0px 20px;
			overflow: hidden;
		}

		&__slider {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0%);
			-webkit-appearance: none;
			width: 85%;
			height: 2px;
			border-radius: 5px;  
			background-color: #E1E1E1;
			outline: none;
		}

		&__slider::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 20px;
			height: 20px;
			border-radius: 50%; 
			background: $main_color;
			cursor: pointer;
			-webkit-transition: .2s;
			transform: scale(1);
	  }

		&__slider::-webkit-slider-thumb:hover {
			transform: scale(1.2);
	  }


}

.result-input {
	font-family: 'Nekst-Black';
	padding: 16px 0px;
	@include style(3.375rem, 36px, $font_color_dark);
	font-weight: 900;
	background-color: inherit;
	border: none;

	&:active {
		border: none;
	}
	&:focus {
		border: none;
	}


	@media (max-width: 700px) {
		@include style(1.375rem, 2.25rem, $font_color_dark);
		height: 60px;
		padding: 5px 0px;
		height: 20px;
	}
}

.result-label {
	margin-bottom: 0px;
	display: block;
	@include style(1rem, 150%, $font_color_dark);			
	position: relative;

	@media (max-width: 700px) {
		margin-bottom: 0px;
	}
}

.result-btn {
	margin-top: 12px;

	@media (max-width: 700px) {
		@include style(1.375rem, 2.25rem, #FFFFFF);
		height: 60px;
	}
}

.disabled {
	opacity: 0.4;
}

