@charset "UTF-8";
/*Обнуление*/
@import url(../fonts/Gilroy/bold/style.css);
@import url(../fonts/Gilroy/regular/style.css);
@import url(../fonts/Nekst/style.css);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

a {
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
   &>*:not(:last-child){
      margin: 0px 0px 50px 0px;
   }

   line-height: calc(([размер интервала]/[размер шрифта])*100%);

   Javascript
   Чтобы избежать конфликта присваиваний, делаем проверку на мобилку
   if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
      код для телефона
   } else {
      код для десктопа
   }
*/
* {
  transition: 0.3s all ease 0s;
}

html, body {
  font-family: gilroy;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: black;
}

.img-adaptiv {
  position: relative;
}
.img-adaptiv img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.text__sibtitle--hover a:hover {
  text-decoration: underline;
}

.btn {
  width: 300px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 140%;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  font-weight: 500;
  box-shadow: 1px 1px 0 rgb(255, 255, 255) inset, -1px -1px 0 rgb(255, 255, 255) inset;
  cursor: pointer;
}
.btn_white {
  background-color: #FFFFFF;
  color: #333333;
}
.btn_white:hover {
  background-color: #333333;
  color: #FFFFFF;
}
.btn_dark {
  background-color: #333333;
  color: #FFFFFF;
  box-shadow: 1px 1px 0 rgb(0, 0, 0) inset, -1px -1px 0 rgb(0, 0, 0) inset;
}
.btn_dark:hover {
  background-color: #FFFFFF;
  color: #333333;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}